/* =================================
  Base Styles
==================================== */
* {
  font-family: "courier", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #1C1A1D;
  color: white;
  padding: 1em 0;
}

h1 {
  /* font-size: 3em; */
  padding: 0.75em;
  text-shadow: 2px 2px 5px black;
}

nav {
  flex-direction: row;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 10px black;
}

a {
  text-decoration: none;
  color: black
}

footer {
  background-color: #1C1A1D;
  padding: 1em 0;
  color: white;
  font-size: .65em;
  position: sticky;
  bottom: 0;
}

li:hover {
  /* Shakey Links */
  animation: shake 0.25s;

  /* When the animation is finished, stop*/
  animation-iteration-count: initial;
}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* =================================
  Class Styles
==================================== */

.container{
  padding-left: 1em;
  padding-right: 1em;
}

.head-img {
  max-width: 150px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}

.head-img:hover {
  /* Shakey main image */
  animation: shake 0.25s;
  animation-iteration-count: initial;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.btn {
  margin: 5px;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  opacity: .75;
}

.default {
  color: #1C1A1D;
  background-color: #fff;
}

.active {
  color: #fff;
  background-color: #AD0000;
}

.main-img {
  margin-bottom: 1em;
}

.mm-logo {
  max-width: 60px;
  max-height: 20px;
  margin: 10px;
}

.flex-nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
  .flex-nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  .btn {
    margin: 5px;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  
  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
}


@media (min-width: 1025px) {

}